.shop-catalog-mobile{
    z-index: 0;

    //meta
    &__meta-inner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__meta-item{
        height: 55px;
        overflow: hidden;
        width: 94%;
        margin-bottom: 7px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        overflow: hidden;
        padding: 0 3px 0 3px;
        color: #096B78;
        background-color: #EFEFEF;
        background-image: url(../img/green-arrow-down.svg);
        background-repeat: no-repeat;
        background-position: 96% 87%;
        background-size: 17px;
    }

    &__inner--second{
        display:none;
    }

    &__inner--third{
        display: none;
    }

    &__inner--fourth{
        display: none;
        
    }

    &__title{
        font-weight: bold;
        color: #096B78;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        max-width: 625px;
        margin: 0 auto;
        margin-top: 10px;
    }

    &__item-list{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &-item{
        min-height: 92px;
        max-height: 92px;
        overflow: hidden;
        width: 94%;
        margin-bottom: 20px;
        
        & a{
            display: flex;
            text-decoration: none;

            &:visited{ 
                color: #000;
            }
        }

        &__picture{
            width: 43%;
            min-height: 92px;
            max-height: 92px;
            overflow: hidden;
            
            & img{
                width: 100%;
                object-fit: contain;
                min-height: 92px;
                max-height: 92px;
            }
        }

        &--second{
            min-height: 92px;
            max-height: 92px;
            overflow: hidden;
            width: 94%;
            margin-bottom: 20px;
            
            & a{
                display: flex;
                text-decoration: none;

                &:visited{ 
                    color: #000;
                }
 
            }

            &__picture{
                width: 43%;
                min-height: 92px;
                max-height: 92px;
                overflow: hidden;
                
                & img{
                    width: 100%;
                    object-fit: cover;
                    min-height: 92px;
                    max-height: 92px;
                }
            }
        }

        &--third{
            min-height: 92px;
            max-height: 92px;
            overflow: hidden;
            width: 94%;
            margin-bottom: 20px;

            & a{
                display: flex;
                text-decoration: none;
    
                &:visited{ 
                    color: #000;
                }
            }

            &__picture{
                width: 43%;
                min-height: 92px;
                max-height: 92px;
                overflow: hidden;
                
                & img{
                    width: 100%;
                    object-fit: cover;
                    min-height: 92px;
                    max-height: 92px;
                }
            }
        }

        &--fourth{
            min-height: 92px;
            max-height: 92px;
            overflow: hidden;
            width: 94%;
            margin-bottom: 20px;

            & a{
                display: flex;
                text-decoration: none;
    
                &:visited{ 
                    color: #000;
                }
            }

            &__picture{
                width: 43%;
                min-height: 92px;
                max-height: 92px;
                overflow: hidden;
                
                & img{
                    width: 100%;
                    object-fit: cover;
                    min-height: 92px;
                    max-height: 92px;
                }
            }
    
    
        }

        &__text{
            width: 57%;
            min-height: 92px;
            max-height: 92px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            overflow: hidden;
            padding: 0 3px 0 3px;
            color: #000;
            background-color: #EFEFEF;

            &--active{
                width: 57%;
                min-height: 92px;
                max-height: 92px;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 12px;
                overflow: hidden;
                padding: 0 3px 0 3px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.918);
            }

        }
    }
}

.shop-catalog-desktop{
    display: none;
}

@media (min-width: 375px){
    .shop-catalog-mobile-item__text{
        font-size: 13px;
    }

    .shop-catalog-mobile__meta-item{
        font-size: 13px;
    }
}

@media (min-width: 425px) {
    .shop-catalog-mobile-item{
        min-height: 105px;
        max-height: 105px;
        margin-bottom: 15px;
        max-width: 415px;

        &__picture{
            width: 43%;
            min-height: 105px;
            max-height: 105px;
            overflow: hidden;

            & img{
                min-height: 105px;
                min-height: 105px;
            }
        }

        &__text{
            min-height: 105px;
            max-height: 105px;
            font-size: 15px;
        }

        &--second{
            min-height: 105px;
            max-height: 105px;
            margin-bottom: 15px;
            max-width: 415px;

            &__picture{
                width: 43%;
                min-height: 105px;
                max-height: 105px;
                overflow: hidden;
    
                & img{
                    min-height: 105px;
                    min-height: 105px;
                }
            }

            &__text{
                min-height: 105px;
                max-height: 105px;
                font-size: 15px;
            }
        }

        &--third{
            min-height: 105px;
            max-height: 105px;
            margin-bottom: 15px;
            max-width: 415px;

            &__picture{
                width: 43%;
                min-height: 105px;
                max-height: 105px;
                overflow: hidden;
    
                & img{
                    min-height: 105px;
                    min-height: 105px;
                }
            }

            &__text{
                min-height: 105px;
                max-height: 105px;
                font-size: 15px;
            }
        }

        &--fourth{
            min-height: 105px;
            max-height: 105px;
            margin-bottom: 15px;
            max-width: 415px;

            &__picture{
                width: 43%;
                min-height: 105px;
                max-height: 105px;
                overflow: hidden;
    
                & img{
                    min-height: 105px;
                    min-height: 105px;
                }
            }

            &__text{
                min-height: 105px;
                max-height: 105px;
                font-size: 15px;
            }
        }
    }

    .shop-catalog-mobile__meta-item{
        height: 60px;
        margin-bottom: 10px;
        max-width: 415px;
        font-size: 15px;
    }
}

// shop-catalog tablet
@media (min-width: 768px){
    .shop-catalog-mobile__title{
        text-align: left;
        font-size: 18px;
    }

    .shop-catalog-mobile__meta-item{
        height: 70px;
        margin-bottom: 10px;
        max-width: 625px;
        font-size: 17px;
    }

    .shop-catalog-mobile-item {
        min-height: 125px;
        max-height: 125px;
        max-width: 625px;

        &__picture{
            min-height: 125px;
            max-height: 125px;

            & img {
                min-height: 125px;
                max-height: 125px;
                
            }
        }

        &__text{
            min-height: 125px;
            max-height: 125px;
            font-size: 19px;
        }

        &--second{
            min-height: 125px;
            max-height: 125px;
            max-width: 625px;

            &__picture{
                min-height: 125px;
                max-height: 125px;

                & img {
                    min-height: 125px;
                    max-height: 125px; 
                }          
            }

            &__text{
                min-height: 125px;
                max-height: 125px;
                font-size: 19px;
            }
        }

        &--third{
            min-height: 125px;
            max-height: 125px;
            max-width: 625px;
            
            &__picture{
                min-height: 125px;
                max-height: 125px;
    
                & img {
                    min-height: 125px;
                    max-height: 125px;     
                }
            }

            &__text{
                min-height: 125px;
                max-height: 125px;
                font-size: 19px;
            }
        }

        &--fourth{
            min-height: 125px;
            max-height: 125px;
            max-width: 625px;
            
            &__picture{
                min-height: 125px;
                max-height: 125px;
    
                & img {
                    min-height: 125px;
                    max-height: 125px;     
                }
            }

            &__text{
                min-height: 125px;
                max-height: 125px;
                font-size: 19px;
            }
        }
    }
}

// shop-catalog desktop
@media (min-width: 1140px) {
    .shop-catalog-mobile{
        display: none;
    }

    .shop-catalog-desktop{
        display: flex;
        flex-direction: column;
        margin-left: 25px;
        z-index: 0;
        
        &__inner{
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;  
        }

        &__inner--meta{
            display: flex;
            flex-wrap: wrap;
            margin-top: 5px;
        }

        &__inner--second{
            display: none;
            flex-wrap: wrap;
            margin-top: 5px;
        }

        &__inner--third{
            display: none;
            flex-wrap: wrap;
            margin-top: 5px;
        }

        &__inner--fourth{
            display: none;
            flex-wrap: wrap;
            margin-top: 5px;
        }

        &__title{
            position: relative;
            display: flex;
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            cursor: pointer;
            user-select: none;
            font-size: 18px;

            &--second{
                position: relative;
                display: flex;
                max-height: 230px;
                min-height: 230px;
                width: 19%;
                margin-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                cursor: pointer;
                user-select: none;
                font-size: 18px;
            }

            &--third{
                position: relative;
                display: flex;
                min-height: 230px;
                max-height: 230px;
                width: 19%;
                margin-right: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                cursor: pointer;
                user-select: none;
                font-size: 18px;
            }

            &--fourth{
                position: relative;
                display: flex;
                min-height: 230px;
                max-height: 230px;
                width: 19%;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                user-select: none;
                font-size: 18px;
            }

            &--fifth{
                position: relative;
                display: flex;
                min-height: 230px;
                max-height: 230px;
                width: 19%;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                user-select: none;
                font-size: 18px;
            }

            &-picture{
                position: relative;
                z-index: 1;
                max-height: 230px;

                & img{
                    object-fit: cover;
                    width: 100%;
                    opacity: 30%;
                    height: 230px;    
                }

                &--second{
                    position: relative;
                    z-index: 1;
                    max-height: 230px;

                    & img{
                        object-fit: cover;
                        width: 100%;
                        opacity: 30%;
                        height: 230px;
                    }
                }

                &--third{
                    position: relative;
                    z-index: 1;
                    max-height: 230px;

                    & img{
                        object-fit: cover;
                        width: 100%;
                        opacity: 30%;
                        height: 230px;
                    }
                }

                &--fourth{
                    position: relative;
                    z-index: 1;
                    max-height: 230px;

                    & img{
                        object-fit: cover;
                        width: 100%;
                        opacity: 30%;
                        height: 230px;
                    }
                }

                &--fifth{
                    position: relative;
                    z-index: 1;
                    max-height: 230px;

                    & img{
                        object-fit: cover;
                        width: 100%;
                        opacity: 30%;
                        height: 230px;
                    }
                }
            } 

            &-arrow{
                position: absolute;
                clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);       
                background-color: #3D485660;
                width: 100%;
                height: 230px;
                z-index: 10;

                &--second{
                    position: absolute;
                    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
                    background-color: #3D485660;
                    width: 100%;
                    height: 230px;
                    z-index: 10;
                }

                &--third{
                    position: absolute;
                    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
                    background-color: #3D485660;
                    width: 100%;
                    height: 230px;
                    z-index: 10;
                }

                &--fourth{
                    position: absolute;
                    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
                    background-color: #3D485660;
                    width: 100%;
                    height: 230px;
                    z-index: 10;
                }

                &--fifth{
                    position: absolute;
                    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0 100%, 0 0);
                    background-color: #3D485660;
                    width: 100%;
                    height: 230px;
                    z-index: 10;
                }
            }

            &-open{
                position: absolute;
                width: 100%;
                height: 230px;
                z-index: 20;
                background-color: #ffffff60;
                color: #096B78;      
                padding-top: 30px;
                padding-left: 25px;
                text-transform: uppercase;
                font-weight: bold;
                background-image: url("../img/catalog/catalog-open-icon.svg");
                background-repeat: no-repeat;
                background-position: 96% 96%;
                background-size: 26px;
                transition: 0.2s;

                &:hover{
                    background-size: 30px;
                    background-color: #ffffff80;
                    transition: 0.2s;
                }
                

                &--second{
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }

                &--third{
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }

                &--fourth{
                    display: flex;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: default;
                }

                &--fifth{
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }
            }

            &-close{
                display: none;
                position: absolute;
                width: 100%;
                height: 230px;
                z-index: 20;
                background-color: #ffffff60;
                color: #096B78;
                padding-top: 30px;
                padding-left: 25px;
                text-transform: uppercase;
                font-weight: bold;
                background-image: url("../img/catalog/catalog-open-icon.svg");
                background-repeat: no-repeat;
                background-position: 96% 96%;
                background-size: 26px;
                transition: 0.2s;

                &:hover{
                    background-size: 30px;
                    background-color: #ffffff80;
                    transition: 0.2s;
                }
                
                &--second{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }

                &--third{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }

                &--fourth{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    background-image: url("../img/catalog/catalog-open-icon.svg");
                    background-repeat: no-repeat;
                    background-position: 96% 96%;
                    background-size: 26px;
                    transition: 0.2s;

                    &:hover{
                        background-size: 30px;
                        background-color: #ffffff80;
                        transition: 0.2s;
                    }
                }
            }

            &-static{
                display: none;
                position: absolute;
                width: 100%;
                height: 230px;
                z-index: 20;
                background-color: #ffffff60;
                color: #096B78;          
                padding-top: 30px;
                padding-left: 25px;
                text-transform: uppercase;
                font-weight: bold;
                cursor: default;

                &--second{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: default;
                }

                &--third{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: default;
                }

                &--fourth{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: default;
                }

                &--fifth{
                    display: none;
                    position: absolute;
                    width: 100%;
                    height: 230px;
                    z-index: 20;
                    background-color: #ffffff60;
                    color: #096B78;
                    padding-top: 30px;
                    padding-left: 10px;
                    text-transform: uppercase;
                    font-weight: bold;
                    cursor: default;
                }
            }
        }

        &__item{
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            & a{
                position: relative;
                display: flex;
                z-index: 25;

                &:visited{
                    color: #000000;
                }
            }

            &-picture{
                min-height: 230px;
                max-height: 230px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                
                & img{
                    object-fit: cover;
                    align-self: center;
                    width: 100%;
                }
            } 

            &-text{
                position: absolute;
                bottom: 0;
                height: 60px;
                width: 100%;
                text-align: center;
                background-color: #ffffffb2;
                font-size: 14px;
                color: #000000;
                text-transform: uppercase;
                font-weight: 700;
                transition: 0.2s;
                display: flex;
                flex-direction: column;
                justify-content: center;

                &--hover{
                    position: absolute;
                    bottom: 0;
                    height: 70px;
                    width: 100%;
                    text-align: center;
                    background-color:#ffffffd8;
                    font-size: 15px;
                    color: #000000;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition: 0.2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                &--active{
                    position: absolute;
                    bottom: 0;
                    height: 70px;
                    width: 100%;
                    text-align: center;
                    background-color: #000000bd;
                    font-size: 15px;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-weight: 700;
                    transition: 0.2s;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }

        &__item--second{
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            & a{
                position: relative;
                display: flex;

                &:visited{
                    color: #000000;
                }
            }
        }

        &__item--third{
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            & a{
                position: relative;
                display: flex;

                &:visited{
                    color: #000000;
                }
            }
        }

        &__item--fourth{
            
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            & a{
                position: relative;
                display: flex;

                &:visited{
                    color: #000000;
                }
            }
        }

        &__item--fifth{
            min-height: 230px;
            max-height: 230px;
            width: 19%;
            margin-right: 10px;
            margin-bottom: 10px;
            overflow: hidden;

            & a{
                position: relative;
                display: flex;

                &:visited{
                    color: #000000;
                }
            }
        }
    }
}

@media (min-width: 1440px){
    .shop-catalog-desktop{

        &__title{
            font-size: 20px;

            &--second{
                font-size: 20px;
            }

            &--third{
                font-size: 20px;
            }

            &--fourth{
                font-size: 20px;
            }

            &--fifth{
                font-size: 20px;
            }
        }

        &__item-text{
            font-size: 17px;

            &--hover{
                font-size: 18px;
            }

            &--active{
                font-size: 18px;
            }
        }

        &__title-open{
            padding-left: 20px;

            &--second{
                padding-left: 20px;
            }

            &--third{
                padding-left: 20px;
            }

            &--fourth{
                padding-left: 20px;
            }

            &--fifth{
                padding-left: 20px;
            }
        }

        &__title-close{
            padding-left: 20px;

            &--second{
                padding-left: 20px;
            }

            &--third{
                padding-left: 20px;
            }

            &--fourth{
                padding-left: 20px;
            }

            &--fifth{
                padding-left: 20px;
            }
        }

        &__title-static{
            padding-left: 20px;

            &--second{
                padding-left: 20px;
            }

            &--third{
                padding-left: 20px;
            }

            &--fourth{
                padding-left: 20px;
            }

            &--fifth{
                padding-left: 20px;
            }
        }
    }
}

@media (min-width: 1600px){
    .shop-catalog-desktop__title{
        font-size: 26px;

        &--second{
            font-size: 26px;
        }

        &--third{
            font-size: 26px;    
        }

        &--fourth{
            font-size: 26px;
        }

        &--fifth{
            font-size: 26px;
        }
    }
}

@media (min-width: 1800px){
    .shop-catalog-desktop__title{
        font-size: 30px;

        &--second{
            font-size: 30px;
        }

        &--third{
            font-size: 30px;    
        }

        &--fourth{
            font-size: 30px;
        }

        &--fifth{
            font-size: 30px;
        }
    }
}


.scroll-up{
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 1000;
    width: 70px;
    height: 70px;
    color:  #a4a1a4;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    opacity: 0;
    transition: 0.4s;
    transform: translateY(25px);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &--active{
        visibility: visible;
        opacity: 1;
        transform: translate(0)
    }
}

//fetching data container 
.offersContainer{
    display: none;
}


//preloader 
.preloader-container{
    display: none;
    flex-direction: column;
}

.preloader{
    position: relative;
    margin: 50px auto;
    width: 100px;
    height: 80px;
}
  
.gear {
    position: absolute;
    z-index: 0;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 5s infinite;
            animation: spin 5s infinite;
}

.two {
    left: 40px;
    width: 80px;
    height: 80px;
    -webkit-animation: spin-reverse 5s infinite;
            animation: spin-reverse 5s infinite;
}

.three {
    top: 45px;
    left: -10px;
    width: 60px;
    height: 60px;
}

@-webkit-keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    50% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@-webkit-keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
@keyframes spin-reverse {
    50% {
        -webkit-transform: rotate(-360deg);
                transform: rotate(-360deg);
    }
}
.lil-circle {
    position: absolute;
    border-radius: 50%;
    box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;
    width: 100px;
    height: 100px;
    opacity: .65;
}

.blur-circle {
    position: absolute;
    top: -19px;
    left: -19px;
}

.preloader__text {
    color: #ababab;
    font-weight: bold;
    cursor: default;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


// fast buy form
.fast-buy-form__wrapper{
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #11111190;
    z-index: 999999;
}

@media(min-width: 1140px){
     // fast buy form
    .fast-buy-form__wrapper{
        display: none;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #11111190;
        z-index: 999999;
    } 
}

.fast-buy-form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    top: 50px;
    left: 50px;
    width: 95%;
    padding: 40px 20px 0 20px;
    background-color: #fff;

    &__close{
        align-self: flex-end;
        margin-top: -30px;
        margin-right: -8px;
        width: 25px;
        height: 25px;
        background-image: url(../img/offers/fast-buy-form-close.svg);
        background-repeat: no-repeat;
        background-position: 90% 90%;
        background-size: 21px;
    }

    &__title{ 
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 20px;
        color: #174F82;
        font-weight: bold;
        text-align: center;
        cursor: default;
    }


    &__info{
        font-size: 12px;
        margin-top: 20px;
        text-align: justify;
        color: #222830;
        cursor: default;
    }

    &__input{
        display: flex;
        flex-direction: column;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        & p{
            margin-top: 20px;
            margin-bottom: 5px;
            color: #174F82;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            cursor: default;

            & span{
                color: red;
                cursor: default;
            }

        }

        & input{
            font-size: 12px;
            width: 280px;
            height: 40px;
            border: 1px solid #174F82;
            color: #AFB8C3;
            border-radius: 3px;
            padding-left: 12px;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;

            &::placeholder{
                color: #AFBBC3;
            }
        }
    }

    &__agreement-description{
        font-size: 11px;
        color: #222830;
        margin-top: 20px;
        text-align: justify;
        cursor: default;
    }

    &__agreement-title{
        color: #F67B1E;
        font-size: 14px;
        margin-top: 30px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: default;
    }

    &__agreement-checkbox {
        margin-top: 10px;
        margin-bottom: 10px;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

        & label{
            font-size: 11px;
            color: #174F82;
            text-transform: uppercase;
            font-weight: bold;
            width: 100%;
            padding-left: 18px;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
        }

        & p{
            font-size: 11px;
            margin-top: 5px;
            margin-bottom: 5px;
            cursor: default;
        }

        &-link{
            min-width: 100px;
            background-image: url(../img/offers/agreement-link__arrow.svg);
            background-size: 11px;
            background-repeat: no-repeat;
            background-position: 97% 70%;
            padding-right: 20px;
            color: #174F82;
            text-decoration: none;
            font-size: 12px;
            font-weight: bold;

            &:visited{
                color: #174F82;
            }
        }
    }

    &__button button{
        margin-top: 70px;
        margin-bottom: 20px;
        background-color: #0B8494;
        border: transparent;
        border-radius: 3px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        color: #fff;
        width: 100%;
        height: 45px;
        box-shadow: 0 3px 6px 1px rgba(43, 56, 66, 0.47);
        transition: 0.1s;
        outline: none;

        &:hover{
            box-shadow: none;  
            transition: 0.1s;
            outline: none;
        }

        &:active{
            box-shadow: inset 0px 5px 8px 2px rgba(50,72,89,0.47);
            outline: none;
            transition: 0.1s;
        }
    }

    &__optional-info{
        font-size: 11px;
        margin-top: 5px;
    }
}

//custom checkboxes
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  cursor: pointer;
  left: 5px;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: -8px;
  top: -3px;
//   border: 1px solid #BFBFBF;
  background: #fff;
  border-radius: 3px;
  box-shadow: inset 2px 2px 8px #455f824d;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 12px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: -4px;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

@media (min-width: 425px){
    .fast-buy-form{
        width: 95%;
    
        &__title{ 
            font-size: 22px;
        }
    
        &__info{
            font-size: 14px;
        }
    
        &__input{
            display: flex;
            flex-direction: column;
    
            & p{
                margin-top: 20px;
                margin-bottom: 5px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
    
                & span{
                    color: red;
                }
            }
    
            & input{
                font-size: 14px;
                width: 335px;
                height: 40px;
                border: 1px solid #174F82;
                color: #AFB8C3;
                border-radius: 3px;
                padding-left: 12px;
    
                &::placeholder{
                    color: #AFBBC3;
                }
            }
        }
    
        &__agreement-description{
            font-size: 11px;
            color: #222830;
            margin-top: 20px;
            text-align: justify;
        }
    
        &__agreement-title{
            color: #F67B1E;
            font-size: 14px;
            margin-top: 30px;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        &__agreement-checkbox {
            margin-top: 10px;
            margin-bottom: 50px;
    
            & label{
                font-size: 12px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                width: 100%;
                padding-left: 35px;
            }
    
            & p{
                font-size: 11px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding-left: 30px;
                text-align: justify;
            }
    
            &-link{
                padding-left: 20px;
                min-width: 100px;
                background-image: url(../img/offers/agreement-link__arrow.svg);
                background-size: 11px;
                background-repeat: no-repeat;
                background-position: 97% 70%;
                padding-right: 20px;
                color: #174F82;
                text-decoration: none;
                font-size: 13px;
                font-weight: bold;
    
                &:visited{
                    color: #174F82;
                }
            }
        }
    
        &__button button{
            margin-bottom: 40px;
            background-color: #0B8494;
            border: transparent;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 14px;
            color: #fff;
            width: 100%;
            height: 45px;
            box-shadow: 0 3px 6px 1px rgba(43, 56, 66, 0.47);
            transition: 0.1s;
            outline: none;

            &:hover{
                box-shadow: none;  
                transition: 0.1s;
                outline: none;
            }

            &:active{
                box-shadow: inset 0px 5px 8px 2px rgba(50,72,89,0.47);
                outline: none;
                transition: 0.1s;
            }
        }
    
        &__optional-info{
            font-size: 11px;
            margin-top: 5px;
        }
    }

    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
    // padding-left: 35px;
    left: -5px;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
    width: 25px;
    height: 25px;
    left: 3px;
    top: -3px;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
    width: 16px;
    height: 12px;
    top: 4px;
    left: 7px;
    }
}

@media (min-width: 768px){
    .fast-buy-form{
        width: 650px;
        padding-right: 50px;
        padding-left: 50px;

        &__close{
            margin-top: -25px;
            margin-right: -30px;
            width: 25px;
            height: 25px;
            background-size: 24px;
        }
    
        &__title{ 
            font-size: 22px;
        }
    
        &__info{
            font-size: 14px;
            margin-bottom: 20px;
        }
    
        &__input{
            display: flex;
            flex-direction: column;
    
            & p{
                margin-top: 20px;
                margin-bottom: 5px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
    
                & span{
                    color: red;
                }
            }
    
            & input{
                font-size: 14px;
                width: 550px;
                height: 40px;
                border: 1px solid #174F82;
                color: #AFB8C3;
                border-radius: 3px;
                padding-left: 12px;
    
                &::placeholder{
                    color: #AFBBC3;
                }
            }
        }
    
        &__agreement-description{
            font-size: 12px;
            color: #222830;
            margin-top: 30px;
            text-align: justify;
        }
    
        &__agreement-title{
            color: #F67B1E;
            font-size: 16px;
            margin-top: 20px;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        &__agreement-checkbox {
            margin-top: 10px;
            margin-bottom: 50px;
            padding-left: 5px;
    
            & label{
                font-size: 14px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                width: 100%;
                padding-left: 39px;
            }
    
            & p{
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding-left: 34px;
                text-align: justify;
            }
    
            &-link{
                padding-left: 34px;
                min-width: 100px;
                background-image: url(../img/offers/agreement-link__arrow.svg);
                background-size: 11px;
                background-repeat: no-repeat;
                background-position: 97% 70%;
                padding-right: 20px;
                color: #174F82;
                text-decoration: none;
                font-size: 13px;
                font-weight: bold;
    
                &:visited{
                    color: #174F82;
                }
            }
        }
    
        &__button button{
            margin-bottom: 40px;
            background-color: #0B8494;
            border: transparent;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            width: 100%;
            height: 60px;
            box-shadow: 0 3px 6px 1px rgba(43, 56, 66, 0.47);
            outline: none;

            &:hover{
                box-shadow: none;  
                outline: none;
            }

            &:active{
                box-shadow: inset 0px 5px 8px 2px rgba(50,72,89,0.47);
                outline: none;
            }
        }
    
        &__optional-info{
            font-size: 11px;
            margin-top: 5px;
        }
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: -2px;
    // border: 1px solid #BFBFBF;
    background: #fff;
    border-radius: 3px;
    box-shadow: inset 2px 2px 8px #455f824d;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
    content: '';
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 16px;
    height: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: all .2s;
    }
}

@media (min-width: 1140px){
    .fast-buy-form{
        width: 800px;
        padding-right: 50px;
        padding-left: 50px;

        &__close{
            cursor: pointer;
            margin-top: -25px;
            margin-right: -30px;
            width: 25px;
            height: 25px;
            background-size: 24px;
            opacity: 0.5;
            transition: 0.2s;

            &:hover{
                opacity: 1;
                transition: 0.2s;
            } 
        }
    
        &__title{ 
            font-size: 26px;
            text-align: left;
        }
    
    
        &__info{
            font-size: 15px;
            margin-bottom: 20px;
        }
    
        &__input{
            display: flex;
            flex-direction: column;
    
            & p{
                margin-top: 25px;
                margin-bottom: 10px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 14px;
    
                & span{
                    color: red;
                }
            }
    
            & input{
                font-size: 14px;
                width: 700px;
                height: 40px;
                border: 1px solid #174F82;
                color: #222830;
                border-radius: 3px;
                padding-left: 12px;

                &::placeholder{
                    color: #AFBBC3;
                }
            }
        }
    
        &__agreement-description{
            font-size: 12px;
            color: #222830;
            margin-top: 30px;
            text-align: justify;
        }
    
        &__agreement-title{
            color: #F67B1E;
            font-size: 15px;
            margin-top: 25px;
            margin-bottom: 5px;
            font-weight: bold;
            text-transform: uppercase;
        }
    
        &__agreement-checkbox {
            margin-top: 10px;
            margin-bottom: 60px;
    
            & label{
                font-size: 14px;
                color: #174F82;
                text-transform: uppercase;
                font-weight: bold;
                width: 100%;
                padding-left: 39px;
            }
    
            & p{
                font-size: 12px;
                margin-top: 5px;
                margin-bottom: 5px;
                padding-left: 34px;
                text-align: justify;
            }
    
            &-link{
                padding-left: 34px;
                min-width: 100px;
                background-image: url(../img/offers/agreement-link__arrow.svg);
                background-size: 11px;
                background-repeat: no-repeat;
                background-position: 97% 70%;
                padding-right: 20px;
                color: #174F82;
                text-decoration: none;
                font-size: 13px;
                font-weight: bold;
    
                &:visited{
                    color: #174F82;
                }
            }
        }
    
        &__button button{
            margin-bottom: 70px;
            background-color: #0B8494;
            border: transparent;
            border-radius: 3px;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            color: #fff;
            width: 100%;
            height: 60px; 
            box-shadow: 0 3px 6px 1px rgba(43, 56, 66, 0.47);
            transition: 0.1s;
            outline: none;

            &:hover{
                box-shadow: none;  
                transition: 0.1s;
                outline: none;
            }

            &:active{
                box-shadow: inset 0px 5px 8px 2px rgba(50,72,89,0.47);
                outline: none;
                transition: 0.1s;
            }
        }
    
        &__optional-info{
            font-size: 12px;
            margin-top: 5px;
        }
    }
}

@media (min-width: 1140px) {
    .shop-catalog-desktop{
        &__tag-link--forward{
            position: absolute;
            top: -155px;
            min-width: 250px;
            width: 100%;
            max-width: 375px;
            min-height: 215px;
            background-image: url(../img/shop-catalog/arrow-tag-forward.svg);
            background-repeat: no-repeat;
            background-size: 45px;
            background-position: 95% 10%;
        }

        &__tag-link--backward{
            position: absolute;
            top: -155px;
            min-width: 250px;
            width: 100%;
            max-width: 375px;
            min-height: 215px;
            background-image: url(../img/shop-catalog/arrow-tag-back.svg);
            background-repeat: no-repeat;
            background-size: 45px;
            background-position: 5% 10%;
        }

        &__tag-link--counter{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            background-color:#F67B1E;
            top: -180px;
            right: 10px;
            border-radius: 50%;
            color: #fff;
            font-size: 22px;
            overflow: hidden;
            
        }

        &__tag-link--model-no-offers{
            position: absolute;
            top: -165px;
            min-width: 250px;
            width: 100%;
            max-width: 375px;
            min-height: 230px;
            background: #ffffffa6;
        }

        &__tag-link--no-model{
            position: absolute;
            top: -165px;
            min-width: 250px;
            width: 100%;
            max-width: 375px;
            min-height: 230px;
            background: #ffffffa6;
        }

        &__tag-link-info-wrapper{
            min-height: 67px;
            max-height: 67px;
            overflow: hidden;
        }

        &__tag-link-description{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            min-height: 230px;
            
        }

        &__tag-link-text{
            color: #096B78;
            text-transform: uppercase;
            font-weight: bold;
           
        }

        &__tag-link-info{
            color: #28313C;
            font-weight: normal;
            text-transform: none ;

            & span{
                font-weight: bold;
                text-transform: uppercase;
            }
        }

        &__tag-link-btn{
            margin-bottom: -10px;
            color: #0358AC;
            text-decoration: underline;
        }
    }
}

.shop-catalog__products-by-group{
    max-width: 500px;
    display: flex;
    color: #0358AC;
    width: 100%;
    height: 20px;
    margin-left: 45px;
    text-align: left;
    font-weight: bold;
    cursor: default;
    margin-bottom: 10px;

    & span{
        padding-left: 77px;
        text-decoration: underline;
    }

    & a{
        width: 18px;
        height: 24px;
        background-image: url(../img/shop-catalog/product-by-group-close.svg);
        background-repeat: no-repeat;
        background-size: 17px;
        background-position: 50% 50%;
        margin-left: 7px;
        transition: 0.3s;

        &:hover{
            transform: scale(1.1);
            transition: 0.3s;
        }

        &:active{
            transform: scale(1);
            transition: 0.3s;
        }
    }
}